<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="eng">
<head>
    <title>Awp</title>
    <style>
        body {
            background: white;
        }

        @page {
            size: A4;
        }

        .arial {
            font-family: Arial;
            font-style: normal;
        }

        .icon {
            padding-top: 94px;
            text-align: center;
        }

        .icon-title {
            padding-top: 8px;
            text-align: center;
            font-size: 19px;
            line-height: 130%;
            font-weight: normal;
        }

        .component {
            padding-top: 68px;
            text-align: center;
            font-size: 27px;
            line-height: 150%;
            font-weight: normal;
        }

        .component-description {
            font-weight: bold;
            font-size: 27px;
            line-height: 150%;
            text-align: center;
            padding-right: 70px;
            padding-left: 70px;
        }

        .page-number {
            font-weight: bold;
            font-size: 15px;
            line-height: 150%;
            float: right;
        }

        .page-title {
            font-size: 15px;
            line-height: 150%;
            float: left;
        }

        .border {
            border-style: ridge;
            border-color: #FECA38;
            clear: both;
            height: 4px;
            background: #FECA38;
        }

        .page-title-content {
            padding-bottom: 4px;
        }

        .content-title-background {
            margin-top: 26px;
            padding: 12px;
            background: #0C5C1D;
            background-clip: border-box;
        }

        .content-title-text {
            font-family: Arial;
            font-style: italic;
            font-weight: bold;
            font-size: 19px;
            line-height: 150%;
            color: #FFFFFF;
        }


        .content-title-text-black {
            font-family: Arial;
            font-style: italic;
            font-weight: bold;
            font-size: 19px;
            line-height: 150%;
            color: black;
        }

        .text-description-non-float {
            font-weight: bold;
            font-size: 17px;
            line-height: 150%;
        }

        .text-description {
            font-weight: bold;
            font-size: 17px;
            line-height: 150%;
            float: left;
        }

        .text-value {
            font-size: 17px;
            line-height: 150%;
            margin-right: 10px;
            text-align: justify;
        }

        .content-text {
            font-size: 17px;
            line-height: 150%;
            margin-left: 10px;
            margin-right: 10px;
            text-align: justify;
        }

        .content-text-title {
            margin-top: 16px;
            font-weight: bold;
            font-size: 17px;
            line-height: 150%;
            margin-left: 10px;
            margin-right: 10px;
        }

        .roboto-blue {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 14px;
            color: #1865E4;
        }

        .roboto-black {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 14px;
            color: #333333;
        }

        .table-border {
            border: 0px;
            border-bottom: 1px solid black;
            border-left: 1px solid black;
            border-top: 1px solid black;
            padding: 5px;
            text-align: center;
        }

        .table-border-content {
            border: 0px;
            border-bottom: 1px solid black;
            border-left: 1px solid black;
            padding: 5px;
            text-align: center;
        }

        .table-border-end {
            border-right: 1px solid black;
        }
    </style>
</head>
<body>
<page>
    <div class="icon">
        <img src="images/kemenag-icon.png" width="140" height="125" alt=""/>
    </div>
    <div class="icon-title arial">Kementrian Agama<br/>Republik Indonesia</div>
    <div class="component arial">Komponen <span th:text="${componentCode}"></span></div>
    <div class="component-description arial">
        <span th:text="${componentDescription}"></span>
    </div>
</page>

<page>
    <div class="page-2" style="page-break-before: always; page-break-after: always;">
        <div class="page-title-content">
            <div class="page-title arial">Komponen <span th:text="${componentCode}"></span> | <span
                    th:text="${componentDescription}"></span></div>
            <div class="page-number arial">01</div>
        </div>
        <div class="border"></div>
        <div class="content-title-background">
            <div class="content-title-text">Data Persiapan Kegiatan</div>
        </div>
        <table style="margin-top: 16px;">
            <tr>
                <td style="width: 160px">
                    <div class="text-description arial">Budget Awp</div>
                </td>
                <td>
                    <div class="text-value arial">: <span th:text="${budgetAwp}"></span></div>
                </td>
            </tr>
            <tr>
                <td style="width: 160px">
                    <div class="text-description arial">Komponen</div>
                </td>
                <td>
                    <div class="text-value arial">: <span th:text="${componentDescription}"></span></div>
                </td>
            </tr>
            <tr>
                <td style="width: 160px">
                    <div class="text-description arial">Sub-Komponen</div>
                </td>
                <td>
                    <div class="text-value arial">: <span th:text="${subComponentDescription}"></span></div>
                </td>
            </tr>
            <tr>
                <td style="width: 160px">
                    <div class="text-description arial">Sistem Pelaksana</div>
                </td>
                <td>
                    <div class="text-value arial">: <span th:text="${executor}"></span></div>
                </td>
            </tr>
        </table>
        <div class="content-title-background">
            <div class="content-title-text">Data Pelaksanaan Kegiatan</div>
        </div>
        <div class="content-text-title arial">Tujuan Kegiatan</div>
        <div class="content-text arial">
            <span>[(${purpose})]</span>
        </div>
    </div>
</page>

<page>
    <div class="page-3" style="page-break-before: always; page-break-after: always;">
        <div class="page-title-content">
            <div class="page-title arial">Komponen <span th:text="${componentCode}"></span> | <span
                    th:text="${componentDescription}"></span></div>
            <div class="page-number arial">02</div>
        </div>
        <div class="border"></div>
        <div class="content-text-title arial">Deskripsi Kegiatan</div>
        <div class="content-text arial">
            <span>[(${description})]</span>
        </div>
        <div class="content-title-background">
            <div class="content-title-text">Timeline Kegiatan</div>
        </div>

        <table style="margin-top: 16px;">
            <tr>
                <td style="width: 160px">
                    <div class="text-description arial">Mulai Kegiatan</div>
                </td>
                <td>
                    <div class="text-value arial">: <span th:text="${startTime}"></span></div>
                </td>
            </tr>
            <tr>
                <td style="width: 160px">
                    <div class="text-description arial">Akhir Kegiatan</div>
                </td>
                <td>
                    <div class="text-value arial">: <span th:text="${endTime}"></span></div>
                </td>
            </tr>
            <tr>
                <td style="width: 160px">
                    <div class="text-description arial">Volume</div>
                </td>
                <td>
                    <div class="text-value arial">: <span th:text="${volume}"></span></div>
                </td>
            </tr>
            <tr>
                <td style="width: 160px">
                    <div class="text-description arial">Tempat Pelaksanaan</div>
                </td>
                <td>
                    <div class="text-value arial">: <span th:text="${location}"></span></div>
                </td>
            </tr>
        </table>

        <div class="content-title-background" style="background-color: #D7D7D7">
            <div class="content-title-text-black">Jumlah Narasumber</div>
        </div>
        <table style="margin-top: 16px;">
            <tr>
                <td style="width: 160px">
                    <div class="text-description arial">Jumlah Sebaran Narasumber</div>
                </td>
                <td>
                    <div class="text-value arial">: <span>[(${nsCount})]</span></div>
                </td>
            </tr>
        </table>
        <div class="content-text-title arial">Asal Lembaga</div>
        <div class="content-text arial">
            <span>[(${institution})]</span>
        </div>
    </div>
</page>

<page>
    <div class="page-4" style="page-break-before: always;">
        <div class="page-title-content">
            <div class="page-title arial">Komponen <span th:text="${componentCode}"></span> | <span>[(${componentDescription})]</span>
            </div>
            <div class="page-number arial">03</div>
        </div>
        <div class="border"></div>
        <div class="content-title-background">
            <div class="content-title-text">Hasil Kegiatan</div>
        </div>
        <div class="content-text arial" style="margin-top: 15px;">
            <span>[(${result})]</span>
        </div>
        <table style="margin-top: 16px;">
            <tr>
                <td style="width: 160px">
                    <div class="text-description arial">PDO</div>
                </td>
                <td>
                    <div class="text-value arial">: <span>[(${pdo})]</span></div>
                </td>
            </tr>
            <tr>
                <td style="width: 160px">
                    <div class="text-description arial">IRI</div>
                </td>
                <td>
                    <div class="text-value arial">: <span>[(${iri})]</span></div>
                </td>
            </tr>
        </table>
        <div class="content-title-background" style="background-color: #D7D7D7">
            <div class="content-title-text-black">Jumlah Peserta</div>
        </div>
        <table style="margin-top: 16px;">
            <tr>
                <td style="width: 160px">
                    <div class="text-description arial">Jumlah Peserta Kegiatan</div>
                </td>
                <td>
                    <div class="text-value arial">: <span>[(${participantCount})]</span></div>
                </td>
            </tr>
        </table>
        <table style="margin-top: 16px;">
            <tr>
                <td style="width: 160px">
                    <div class="text-description arial">Keterangan</div>
                </td>
                <td>
                    <div class="text-value arial">: <span>[(${participantOtherInformation})]</span></div>
                </td>
            </tr>
        </table>
        <table style="margin-top: 16px;">
            <tr>
                <td style="width: 160px">
                    <div class="text-description arial">Di Buat Oleh</div>
                </td>
                <td>
                    <div class="text-value arial">: <span th:text="${createdBy}"></span></div>
                </td>
            </tr>
        </table>
        <table style="margin-top: 16px;">
            <tr>
                <td style="width: 160px">
                    <div class="text-description arial">Di Perbaharui Oleh</div>
                </td>
                <td>
                    <div class="text-value arial">: <span th:text="${updatedBy}"></span></div>
                </td>
            </tr>
        </table>
    </div>
</page>

</body>
</html>
